/* Styles For Hot Stays Heading */
.hot-stays-heading,
.no-data-text {
    font-family: "Poppins-Bold";

}

.hot-stays-heading {
    font-size: 2rem;
    line-height: 2.8rem;
    color: #000000;
    margin-bottom: 0.125rem;
}

/* Styles For Hot Stays Sub-Heading */
.hot-stays-sub-heading {
    font-family: "Poppins-SemiBold";
    font-weight: 600;
    line-height: 1.5rem;
    color: #000000;
}

/* Styles For No Data Text */
.no-data-text {
    color: #A6A6A6;
    font-size: 1.5rem;
    line-height: 2.1rem;
}