/* Font Faces */
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url("./assets/fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("./assets/fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("./assets/fonts/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins-Light";
    src: url("./assets/fonts/Poppins-Light.ttf");
    font-weight: 300;
}

.App {
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    box-sizing: border-box;
    overflow-x: hidden;
}