/* Offers Heading */
.offers-heading {
    font-family: "Poppins-Bold";
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 0.125rem;
}

/* Offers Subheading */
.offers-subheading {
    font-family: "Poppins-Regular";
    font-size: 0.875rem;
    line-height: 1.3125rem;
}

/* Offers Heading and Subheading */
.offers-heading,
.offers-subheading {
    color: #000000;
}